<!-- Code of players goes here -->
<div class="tt-players">
    <div ng-click="toggleList()" class="tt-players-menu">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        Players
    </div>
    
    <div class="tt-players-notification">
        
    </div>
    
    <div class="tt-players-list">
        <div class="tt-players-list-item">
            Antonio Augusto Sousa
        </div>
        <div class="tt-players-list-item">
            Ana Paula Rocha
        </div>
    </div>
</div>