<!-- Code of the game page goes here -->
<div class="tt-container text-center row">
    <div class="col-xs-3 tt-hand-p1">
        <h4>Player 1 Hand</h4> {{ iWasInvited }}
        <div class="tt-cards1" ng-if="iWasInvited == true">
            <img ng-repeat="card in game.cards.invited" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
        <div class="tt-cards1" ng-if="iWasInvited == false">
            <img ng-repeat="card in game.cards.creator" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
    </div>

    <div class="tt-board col-xs-6">
        <div class="row tt-row">
            <div id="slot1" class="col-xs-4 tt-cell">
                <!-- tt-cell-player1 -->
                SLOT 1
            </div>
            <div id="slot2" class="col-xs-4 tt-cell">
                <!-- tt-cell-player2 -->
                <img class="tt-card img-responsive" src="/img/cards/0.png">
            </div>
            <div id="slot3" class="col-xs-4 tt-cell">
                SLOT 3
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot4" class="col-xs-4 tt-cell">
                SLOT 4
            </div>
            <div id="slot5" class="col-xs-4 tt-cell">
                SLOT 5
            </div>
            <div id="slot6" class="col-xs-4 tt-cell">
                SLOT 6
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot7" class="col-xs-4 tt-cell">
                SLOT 7
            </div>
            <div id="slot8" class="col-xs-4 tt-cell">
                SLOT 8
            </div>
            <div id="slot9" class="col-xs-4 tt-cell">
                SLOT9
            </div>
        </div>
    </div>

    <div class="col-xs-3 tt-hand-p2">
        <h4>Player 2 Hand</h4> {{ iWasInvited }}
        <div class="tt-cards2" ng-if="iWasInvited == true">
            <img ng-repeat="card in game.cards.creator" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
        <div class="tt-cards2" ng-if="iWasInvited == false">
            <img ng-repeat="card in game.cards.invited" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
    </div>
</div>
<div class="tt-chat">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">Chat</p>
            </div>
        </div>
    </nav>
    <div class="tt-chat-messages">
        <h5 ng-repeat="message in messages" ng-class="{'own-msg': own(message)}">{{ message.msg }}</h5>
    </div>
    <nav class="navbar bottom navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-form">
                <form class="form-inline medium-margin-left medium-margin-right inner-addon right-addon" ng-submit="send(msg); msg = '';">
                    <input ng-model="msg" type="text" class="form-control input-chat" placeholder="Message">
                </form>
            </div>
        </div>
    </nav>
</div>