<!-- Code of the game page goes here -->
<div class="tt-container text-center row">
    <!-- Player 1 hand -->
    <div class="col-xs-3 tt-hand-p1">
        <h4>You</h4>
        <div class="tt-cards1" ng-if="iWasInvited == true">
            <img ng-click="selectCard(card)" ng-repeat="card in game.cards.invited" ng-class="{'selected': card.selected}" class="tt-card img-responsive"
                ng-src="/img/cards/{{ card.id }}.png"> {{ card.selected }}
        </div>
        <div class="tt-cards1" ng-if="iWasInvited == false">
            <img ng-click="selectCard(card)" ng-repeat="card in game.cards.creator" ng-class="{'selected': card.selected}" class="tt-card img-responsive"
                ng-src="/img/cards/{{ card.id }}.png"> {{ card.selected }}
        </div>
    </div>
    <!-- Board -->
    <div class="tt-board col-xs-6">
        <div class="row tt-row">
            <div id="slot1" class="col-xs-4 tt-cell" ng-click="selectSlot(0)">
                <!-- tt-cell-player1 -->
                <img ng-if="game.board[0].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[0].id }}.png">
            </div>
            <div id="slot2" class="col-xs-4 tt-cell" ng-click="selectSlot(1)">
                <!-- tt-cell-player2 -->
                <img ng-if="game.board[1].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[1].id }}.png">
            </div>
            <div id="slot3" class="col-xs-4 tt-cell" ng-click="selectSlot(2)">
                <img ng-if="game.board[2].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[2].id }}.png">
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot4" class="col-xs-4 tt-cell" ng-click="selectSlot(3)">
                <img ng-if="game.board[3].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[3].id }}.png">
            </div>
            <div id="slot5" class="col-xs-4 tt-cell" ng-click="selectSlot(4)">
                <img ng-if="game.board[4].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[4].id }}.png">
            </div>
            <div id="slot6" class="col-xs-4 tt-cell" ng-click="selectSlot(5)">
                <img ng-if="game.board[5].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[5].id }}.png">
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot7" class="col-xs-4 tt-cell" ng-click="selectSlot(6)">
                <img ng-if="game.board[6].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[6].id }}.png">
            </div>
            <div id="slot8" class="col-xs-4 tt-cell" ng-click="selectSlot(7)">
                <img ng-if="game.board[7].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[7].id }}.png">
            </div>
            <div id="slot9" class="col-xs-4 tt-cell" ng-click="selectSlot(8)">
                <img ng-if="game.board[8].id != null" class="tt-card img-responsive" ng-src="/img/cards/{{ game.board[8].id }}.png">
            </div>
        </div>
        <div class="text-center">
            {{ tip }}
        </div>
    </div>
    <!-- Player 2 hand -->
    <div class="col-xs-3 tt-hand-p2">
        <h4>Your rival</h4>
        <div class="tt-cards2" ng-if="iWasInvited == true">
            <img ng-repeat="card in game.cards.creator" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
        <div class="tt-cards2" ng-if="iWasInvited == false">
            <img ng-repeat="card in game.cards.invited" class="tt-card img-responsive" ng-src="/img/cards/{{ card.id }}.png">
        </div>
    </div>
</div>
<!-- Chat -->
<div class="tt-chat">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">Chat</p>
            </div>
        </div>
    </nav>
    <div class="tt-chat-messages">
        <h5 ng-repeat="message in messages" ng-class="{'own-msg': own(message)}">{{ message.msg }}</h5>
    </div>
    <nav class="navbar bottom navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-form">
                <form class="form-inline medium-margin-left medium-margin-right inner-addon right-addon" ng-submit="send(msg); msg = '';">
                    <input ng-model="msg" type="text" class="form-control input-chat" placeholder="Message">
                </form>
            </div>
        </div>
    </nav>
</div>