<!-- Code of the game page goes here -->
<div class="tt-container text-center row">
    <div class="col-xs-3 tt-hand-p1">
        <h4>Player 1 Hand</h4>
        <div class="tt-cards1">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
        </div>
    </div>

    <div class="tt-board col-xs-6">
        <div class="row tt-row">
            <div id="slot1" class="col-xs-4 tt-cell tt-cell-player1">
                SLOT 1
            </div>
            <div id="slot2" class="col-xs-4 tt-cell tt-cell-player2">
                <img class="tt-card img-responsive" src="/img/card.png">
            </div>
            <div id="slot3" class="col-xs-4 tt-cell">
                SLOT 3
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot4" class="col-xs-4 tt-cell">
                SLOT 4
            </div>
            <div id="slot5" class="col-xs-4 tt-cell">
                SLOT 5
            </div>
            <div id="slot6" class="col-xs-4 tt-cell">
                SLOT 6
            </div>
        </div>
        <div class="row tt-row">
            <div id="slot7" class="col-xs-4 tt-cell">
                SLOT 7
            </div>
            <div id="slot8" class="col-xs-4 tt-cell">
                SLOT 8
            </div>
            <div id="slot9" class="col-xs-4 tt-cell">
                SLOT9 
            </div>
        </div>
    </div>

    <div class="col-xs-3 tt-hand-p2">
        <h4>Player 2 Hand</h4>
        <div class="tt-cards2">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
            <img class="tt-card img-responsive" src="/img/card.png">
        </div>
    </div>   
</div>