<!-- Code of the home page goes here -->

<h1 class="text-center">Triple Triad</h1>

<div class="container-fluid text-center">
    <div class="text-left tt-loginform tt-menu center-block">
        <div class="text-center tt-menuTitle">
            Login
        </div>

        <form role="form" ng-submit="login(logUser)">
            <div class="form-group">
                <label for="email">Email:</label>
                <input ng-model="logUser.email" type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input ng-model="logUser.password" type="password" class="form-control" id="password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <a href="http://localhost:8080/api/auth/facebook" class="btn btn-facebook btn-block">Login with Facebook</a>
            <button class="btn btn-twitter btn-block">Login with Twitter</button>

            <div class="text-center" style="padding: 10px 0px;">or</div>

            <button id="tt-btn-create" class="btn btn-default btn-block">Create an Account</button>
        </form>
    </div>

    <div class="text-left tt-createform tt-menu center-block">
        <div class="text-center tt-menuTitle">
            Create Account
        </div>

        <form role="form" ng-submit="register(regUser)">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input ng-model="regUser.email" type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input ng-model="regUser.name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input ng-model="regUser.password" type="password" class="form-control" id="password">
            </div>

            <!--div class="form-group">
                <label for="password">Password (Confirm):</label>
                <input type="password" class="form-control" id="passwordconfirm">
            </div-->

            <button type="submit" class="btn btn-primary btn-block">Create Account</button>

            <div class="text-center" style="padding: 10px 0px;">or</div>

            <button id="tt-btn-login" class="btn btn-default btn-block">Login</button>
        </form>
    </div>

    <!-- Move me to a proper file later -->
    <script>
        function switchForm(form1, form2){
            $(form2).slideToggle(400, function(){
                $(form1).slideToggle(400);
            });            
        } 
       
        $("#tt-btn-login").click(function(){
            switchForm(".tt-loginform", ".tt-createform")
        });

        $("#tt-btn-create").click(function(){
            switchForm(".tt-createform", ".tt-loginform")
        });
    </script>
</div>

<div class="text-center">
    <code>{{ msg }}</code>
</div>