<!-- Code of the lobby page goes here -->

<div class="container-fluid text-center">
    <div class="text-center tt-menuTitle">
        Lobby
    </div>

    <div class="tt-menu center-block">
        <button class="btn btn-primary btn-block">Play</button>
        <button class="btn btn-default btn-block">View Rankings</button>
        <button onclick="notification('Antonio Augusto Sousa is now online')" class="btn btn-warning btn-block">Test Notification</button>
        <button ng-click="logout()" class="btn btn-danger btn-block">Log out</button>
        <br>
        <p><strong>1,133,777 Players registered in SDIS</strong></p>
        <p>10,020 in Active Time Battles</p>
        <p><sub>1,404 Trying to refresh the navbar</sub></p>
    </div>
</div>

<friends></friends>