<!-- Code of the lobby page goes here -->

<div class="container-fluid text-center">
    <div class="text-center tt-menuTitle">
        Welcome <span class="tt-username">{{ user.name }}</span>!
    </div>

    <div class="tt-menu center-block">
        <!--button class="btn btn-primary btn-block">Play</button-->
        <button class="btn btn-default btn-block">View Rankings</button>
        <button ng-click="notification('Antonio Augusto Sousa is now online')" class="btn btn-warning btn-block">Test Notification</button>
        <button ng-click="logout()" class="btn btn-danger btn-block">Log out</button>
        <br>
        <p><strong>28 Games Running / 100 Players Online</strong></p>
    </div>
</div>

<players></players>