/* Styles applied only in the game page */
html,
body {
    width: 100%;
    height: 100%;
    background-color: #faebcc;
}
body > div {
    width: 100%;
    height: 100%;
}
.tt-container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.tt-container .col-xs-6,
.tt-container .col-xs-3 {
    margin: 0px;
    padding: 0px;
}
.tt-board {
    border: 2px solid black;
    display: block;
    width: 80vmin;
    height: 80vmin;
    background-image: url("/img/board.jpg");
    background-size: 100% 100%;
}
.tt-hand-p1,
.tt-hand-p2 {
    display: block;
    height: 100%;
}
.tt-row {
    height: 33.3%;
    margin: 0px;
}
.tt-cell {
    display: block;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.tt-cell-player1 {
    box-shadow: 0px 0px 20px 10px cornflowerblue inset;
}
.tt-cell-player2 {
    box-shadow: 0px 0px 20px 10px mediumvioletred inset;
}
.tt-cell:hover {
    box-shadow: 0px 0px 20px 10px white inset;
    border: 1px black solid;
}
.tt-cards1,
.tt-cards2 {
    display: block;
    height: 90%;
    padding: 0px 25px;
    text-align: center;
}
.tt-cell > .tt-card {
    height: 100%;
}
.tt-cards1 > .tt-card,
.tt-cards2 > .tt-card {
    margin-bottom: 10px;
}
.tt-cards1 > .tt-card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    cursor: pointer;
}
.tt-cards1 > .tt-card:hover {
    box-shadow: 0px 0px 2px blue;
}
.tt-cards1 .selected {
    box-shadow: 0px 0px 3px darkblue;
}
/* Chat styles */
.tt-chat {
    widows: 100vw;
    height: 35vh;
    background-color: #FAFAFA;
    position: relative;
}
.tt-chat .navbar {
    border-radius: 0px !important;
}
.tt-chat .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
.tt-chat .bottom .form-group {
    width: 90%;
}
.tt-chat .bottom .form-group input[type="text"] {
    width: 100% !important;
}
.chat-form {
    width: 100%;
}
.btn-chat {
    z-index: 1;
    right: 10px;
    font-weight: 600;
    pointer-events: auto !important;
}
.input-chat {
    width: 100% !important;
}
.message-icon {
    font-size: 24px;
    padding-right: 2px !important;
    transform: translateY(-1px);
}
.message {
    font-style: 14px;
}
.messageRepeat hr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 5px;
    opacity: 0.5;
}
.chat-box {
    height: 85vh;
    overflow-y: scroll;
}
.tt-chat-messages {
    width: 100%;
    height: 200px;
    display: block;
    overflow-y: scroll;
}
.tt-chat-messages h5 {
    padding-left: 10px;
}
.own-msg {
    font-weight: bold;
}