/* Styles applied only in the players component */
.tt-players {
    position: fixed;
    bottom: 0px;
    right: 25px;
    min-width: 300px;
    box-shadow: 0px 0px 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #EEE;
    overflow: hidden;
}
.tt-players-menu {
    padding: 10px;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
.tt-players-menu:hover {
    background: #DDD;
}
.tt-players-menu:active {
    box-shadow: 0px 0px 20px #BBB inset;
}
.tt-players-list {
    background: white;
    display: none;
}
.tt-players-list-item {
    padding: 10px;
    cursor: pointer;
}
.tt-players-list-item:hover {
    background: #F8F8F8;
}
.tt-players-notification {
    padding: 10px;
    display: none;
    background: white;
}
/* Modal Styles */
.in {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}