/* Global styles applied in the entire project */

.tt-loginform, .tt-createform{
    max-width: 500px;
}

.tt-createform{
    display: none;
}

.tt-formTitle{
    font-weight: bold;
    font-size: 16px;
}

/*Facebook Login Button*/
.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  background-color: #344e86;
  border-color: #2d4373;
  color: white;
}
.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled]:hover,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
}

/*Twitter Login Button*/
.btn-twitter {
  background-color: #55acee;
  border-color: #55acee;
  color: white;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active {
  background-color: #3ea1ec;
  border-color: #2795e9;
  color: white;
}
.btn-twitter.disabled:hover,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled]:hover,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter:hover,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #55acee;
  color: white;
}

